@charset "UTF-8";

@font-face {
  font-family: "CNT";
  src: url(src/fonts/ComicNeueSansID.ttf) format("truetype");
}

* {
  margin: 0;
  padding: 0;
}

:root {
  --cor01: #008000;
  --cor02: purple;
  --cor03: yellow;
  --cor04: #00ff00;

  --font-Normal: Arial, Helvetica, sans-serif;
  --font-CNT: "CNT", Helvetica, sans-serif;
}

body {
  background-image: linear-gradient(to bottom, #008000, purple, yellow);
}

h1#titulo {
  margin: 7px;
  background-color: rgba(240, 248, 255, 0.267);
  box-shadow: 0px 1px 6px rgb(0, 255, 34);
  border-radius: 18px;
  font-family: var(--font-CNT);
  font-style: normal;
  text-align: center;
}

main > h1 {
  font-family: var(--font-CNT);
}


main {
  margin: auto;
  padding: 10px;
  max-width: 1000px;
  min-width: 320px;
  background-color: var(--cor04);
  margin-bottom: 20px;
  border-radius: 5px;
}

main h1{
  text-align: center;
  background-color: coral;
  border-radius: 10px;
}

main p{
  font-size: 1.3em;
  text-indent: 5px;
  background-image: linear-gradient(to right, var(--cor02));
}

main ul{
  list-style-type: \1F44D\00A0;
  list-style-position: inside;
}

main ol{
  list-style-type: \1F44E\00A0;
  list-style-position: inside;
}

p > a {
  text-decoration: none;
  color: #000000;
}

p > a::after {
  content: "👈";
  font-weight: bold;
}

p > a::before {
  content: "👉";
  font-weight: bold;
}

.linksyou:hover {
  color: red;
  transition: 0.5s;
}

.linkstwi:hover {
  color: purple;
  transition: 0.5s;
}

img {
  box-shadow: 1px 1px 8px 0px white;
  border-radius: 18px;
  max-width: 420px;
  min-width: 320px;
  width: 100%;
}


