@charset "UTF-8";

@font-face {
  font-family: "Avaria";
  src: url(../fonts/AveriaSerifLibre-Bold.ttf) format("truetype");
}

@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap");

@media (max-width: 624px) {
  main video {
    width: 520px;
  }
}

@media (max-width: 544px) {
  main video {
    width: 500px;
  }
}

@media (max-width: 524px) {
  main video {
    width: 420px;
  }
}

@media (max-width: 444px) {
  main video {
    width: 320px;
  }
}

@media (max-width: 354px) {
  body main {
    width: 320px;
  }
}



* {
  margin: 0;
  padding: 0;
}

:root {
  --cor0: rgba(173, 173, 173, 0.521);
  --cor1: white;
  --cor2: #6e6e73;
  --cor3: #1d1d1f;
  --cor4: green;
  --cor5: #385fda;
  --cor6: rgba(0, 0, 0, 0.5);

  --font-Normal: Arial, Helvetica, sans-serif;
  --fontFODA: "Fredericka the Great", Helvetica, sans-serif;
  --font: "Avaria";
}

body {
  background-image: linear-gradient(to bottom, #008000, purple, yellow);
}

h1#titulo {
  font-family: var(--fontFODA);
  text-align: center;
  margin: 5px;
  background-color: var(--cor1);
  box-shadow:  0px 1px 6px #000000;
  border-radius: 18px;
}



main {
  text-align: justify;
  font-family: var(--font);
  margin: auto;
  margin-bottom: 20px;
  padding: 8px;
  max-width: 1100px;
  min-width: 320px;
  background-color: var(--cor1);
  border-radius: 5px;
}

main h1 {
  text-align: center;
  background-color: var(--cor2);
  border-radius: 10px;
}

.centro{
  text-indent: 5px;
  width: 500px;
  border-radius: 5px 0px 0px 5px;
  background-image: linear-gradient(to right, var(--cor2), transparent);
  margin-top: 5px;
  margin-bottom: 5px;
}

main p {
  font-size: 1.3em;
  text-indent: 3px;
  background-image: linear-gradient(to right, var(--cor02));
}

main ul {
  list-style-type: "\1F44D\00A0";
  list-style-position: inside;
}

main ol {
  list-style-type: "\1F44E\00A0";
  list-style-position: inside;
}

main video {
  border-radius: 5px;
  display: block;
  box-shadow: 2px 4px 6px 1px rgba(0, 0, 0, 0.678);
}

p > a {
  text-decoration: none;
  color: #000000;
}

p > a::after {
  content: "👈";
  font-weight: bold;
}

p > a::before {
  content: "👉";
  font-weight: bold;
}

.linksyou:hover {
  border-radius: 5px;
  background-color: white;
  padding: 5px;
  text-decoration: underline;
  color: red;
  transition: 0.7s;
}

.linkstwi:hover {
  border-radius: 5px;
  background-color: white;
  padding: 5px;
  text-decoration: underline;
  color: purple;
  transition: 0.7s;
}

main img {
  box-shadow: 2px 4px 7px 0px rgb(0, 0, 0);
  border-radius: 18px;
  max-width: 420px;
  min-width: 320px;
  width: 100%;
}

.destaque:hover{
  border-radius: 5px;
  background-color: var(--cor5);
  padding: 5px;
  transition: 0.7s;
}


footer {
  padding: 5px;
  text-align: center;
  background-color: var(--cor04);
  font-family: var(--font);
}
